body,
p,
li,
a,
blockquote,
code {
  font-family: Tisa;
  font-size: 26px;
  font-weight: 200;
  line-height: 1.6;
}

p {
  margin: 30px 0;
}

a {
  color: $orange;
  text-decoration: none;
}

ul li {
  margin: .3125em 0;
}

strong {
  font-weight: bold;
}

code {
  font-family: monospace;
  font-size: 20px;
  padding: 20px;
  text-align: left;
}

blockquote:before,
blockquote:after {
  font-size: 60px;
  position: absolute;
}

blockquote:before {
  content: '\201C';
  font-size: 60px;
  left: -20px;
  top: -20px;
}

blockquote:after {
  bottom: -20px;
  content: '\201D';
  font-size: 60px;
  right: -20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Proxima;
  font-weight: 400;
  line-height: 1;
  margin: 20px 0;
}

h1,
.Heading--one {
  font-size: 80px;
}

h2,
.Heading--two {
  font-size: 70px;
}

h3,
.Heading--three {
  font-size: 60px;
}

h4,
.Heading--four {
  font-size: 50px;
}

h5,
.Heading--five {
  font-size: 40px;
}

h6,
.Heading--six {
  font-size: 30px;
}

.strike {
  text-decoration: line-through;
}

.orange {
  color: $orange;
}

.no-bullets-list {
  list-style: none;
}
