@import 'normalize-scss/sass/normalize';
@import 'reveal.js/css/reveal.scss';
@import '../lib/css/atom-one-dark.css';

$white: #fff;
$black: #000;
$orange: #f28832;
$green: #27ae60;
$yellow: #f1c40f;
$red: #c0392b;

@include normalize();

@font-face {
  font-family: Proxima;
  font-weight: 400;
  font-style: bold;
  src: url('/slides/dist/fonts/proxima/ProximaNova_Bold.eot');
  src: url('/slides/dist/fonts/proxima/ProximaNova_Bold.eot?#iefix') format('embedded-opentype'),
  		url('/slides/dist/fonts/proxima/ProximaNova_Bold.woff') format('woff'),
		url('/slides/dist/fonts/proxima/ProximaNova_Bold.ttf') format('truetype'),
		url('/slides/dist/fonts/proxima/ProximaNova_Bold.svg#ProximaLight') format('svg');
}

@font-face {
  font-family: Tisa;
  font-weight: 200;
  font-style: regular;
  src: url('/slides/dist/fonts/tisa/tisapro-regular-webfont.eot');
  src: url('/slides/dist/fonts/tisa/tisapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
  		url('/slides/dist/fonts/tisa/tisapro-regular-webfont.woff') format('woff'),
		url('/slides/dist/fonts/tisa/tisapro-regular-webfont.ttf') format('truetype'),
		url('/slides/dist/fonts/tisa/tisapro-regular-webfont.svg#ProximaLight') format('svg');
}
